.delete {
    height: 100vh;
    background: url("../../vendor/img/libraryCRUD.jpg") center/cover;
}

.delete input {
    background-color: #ffffff;
}
.delete input::placeholder {
    color: #000000;
    font-weight: bold;
}

.delete label {
    color: #ffffff;
}

.delete-cover {
    background: #00000088;
    height: 100vh;
}
