#support .support-content {
    background: url("../../vendor/img/registerComplete.jpg") center/cover;
    height: 92vh;
}

#support .support-content h1 {
    display: flex;
    justify-content: center;
    color: var(--color-text);
    padding-top: 10px;
    font-size: 3rem;
}

#support .support-content p {
    color: var(--color-text);
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 1.5rem;
    align-items: center;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    margin-top: 120px;
}