#support .support-content {
    background: url("../../vendor/img/libraryCRUD.jpg") center/cover;
    height: 100vh;
    overflow: hidden;
}

#support .support-content h1 {
    display: flex;
    justify-content: center;
    color: var(--color-text);
    padding-top: 10px;
    font-size: 3rem;
}

#support .support-content p {
    color: var(--color-text);
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 1.5rem;
}

#support .support-cover {
    background: #00000088;
    height: 100vh;

}

#support .divisor{
    background-color: black;
    height: 30vh;
    color: white;
    transform: skewY(3deg);
    position: relative;
    bottom: 50px;
}

#support .divisor h1{
    padding-top: 50px;
    transform: skewY(-3deg);
}

#support .divisor p{
    transform: skewY(-3deg);
}