#support .support-content {
    background: url("../../vendor/img/libraryCRUD.jpg") center/cover;
    height: 92vh;
    overflow: hidden;
}

#support .support-content h1 {
    display: flex;
    justify-content: center;
    color: var(--color-text);
    padding-top: 10px;
    font-size: 3rem;
}

#support .support-content p {
    color: var(--color-text);
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 1.5rem;
}

@media (max-width: 1920px) {
    #support .support-content h1 {
        padding-top: 10px;
    }
}

@media (max-width: 2560px) {
    #support .support-content h1 {
        padding-top: 65px !important;
    }
}

#support .support-cover {
    background: #00000088;
    height: 100vh;
}

#support .divisor {
    background-color: black;
    height: 30vh;
    color: white;
    transform: skewY(3deg);
    position: relative;
    bottom: 47px;
}

@media (max-width: 2560px) {
    #support .divisor {
        bottom: 66px;
    }
}
@media (max-width: 1920px) {
    #support .divisor {
        bottom: 49px;
    }
}

#support .divisor h1 {
    padding-top: 50px;
    transform: skewY(-3deg);
}

#support .divisor p {
    transform: skewY(-3deg);
}
