.register {
    height: 100vh;
    background: url("../../vendor/img/libraryCRUD.jpg") center/cover;
}

.register input {
    background-color: #ffffff;
}
.register input::placeholder {
    color: #000000;
    font-weight: bold;
}

.register label {
    color: #ffffff;
}

.register-cover {
    background: #00000088;
    height: 100vh;
}
