.register {
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background: url("../../vendor/img/libraryCRUD.jpg");
}

.register input {
    background-color: #ffffff;
}
.register input::placeholder {
    color: #000000;
    font-weight: bold;
}

.register label {
    color: #ffffff;
}

.register-cover {
    background: #00000088;
    height: 100vh;
}
