.update {
    height: 100vh;
    background: url("../../vendor/img/libraryCRUD.jpg") center/cover;
    overflow: hidden;

}

.update input {
    background-color: #ffffff;
}
.update input::placeholder {
    color: #000000;
    font-weight: bold;
}

.update label {
    color: #ffffff;
}

.update-cover {
    background: #00000088;
    height: 100vh;
}
