.update {
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background: url("../../vendor/img/libraryCRUD.jpg");
}

.update input {
    background-color: #ffffff;
}
.update input::placeholder {
    color: #000000;
    font-weight: bold;
}

.update label {
    color: #ffffff;
}

.update-cover {
    background: #00000088;
    height: 100vh;
}
