.update {
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background: url("../../vendor/img/libraryCRUD.jpg") repeat scroll center center/cover;

}

.update label {
    color: var(--color-text);
}

