#hero .home {
    display: flex;
    height: 90vh;
    align-items: center;
    font-size: 3rem;
    flex-direction: column;
    justify-content: center;
    color: var(--color-text);
    
}


.l-section {
    transform: skewY(-3deg);
}

.l-section__content {
    transform: skewY(3deg);
}


#hero .introduction {
    background: url("../../vendor/img/books-1281581.jpg") repeat scroll center center/cover;
    margin: 0;
    height: 100vh;
    width: 100%;
}

#hero .cover {
    height: 100vh;
    width: 100%;
    background: #00000066;
}
