/*=========================================
Typed Component
==========================================*/
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

#hero .div-typed {
    margin-bottom: 10px;
    margin-right: 5px;
}

#hero .typed {
    display: flex;
    align-content: center;
    font-size: 3rem;
    width: 49rem;
}

#hero .social-media {
    color: white;
    padding: 0px 10px 0px 10px;
    margin-left: 5px;
    transition: ease-in-out 0.5s;
}

#hero .social-media:hover {
    color: #046daa;
    transition: ease-in-out 0.5s;
}

/*=========================================
Hero Section
==========================================*/

#hero .home {
    display: flex;
    height: 90vh;
    align-items: center;
    font-size: 3rem;
    flex-direction: column;
    justify-content: center;
    color: white;
}

#hero .introduction {
    background: url("../vendor/img/books-1281581.jpg") repeat scroll center center/cover;
    margin: 0;
    height: 100vh;
    width: 100%;
}

#hero .back-to-top {
    position: fixed;
    /* visibility: hidden;
    opacity: 0; */
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    transition: ease-in-out 1s;
    border: none;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 40%), 0 6px 20px 0 rgb(0 0 0 / 40%);
}

#hero .back-to-top.active {
    visibility: visible;
    opacity: 1;
}

#hero .back-to-top:hover {
    background-color: #046daa;
    transition: ease-in-out 1s;
}

/*=========================================
Team Section
==========================================*/

#team .team-content {
    background: url("../vendor/img/renato-smash.png") center/cover;
    height: 92vh;
}

#team .team-content h1 {
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 10px;
    font-size: 3rem;
}

#team .team-content p {
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 1.5rem;
}

/*=========================================
Support Section
==========================================*/

#support .support-content {
    background: url("../vendor/img/registerComplete.jpg") center/cover;
    height: 92vh;
}

#support .support-content h1 {
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 10px;
    font-size: 3rem;
}

#support .support-content p {
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 1.5rem;
    align-items: center;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    margin-top: 120px;
}
