@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

h1 {
    font-family: 'Alfa Slab One', cursive;
    font-weight: 100;
}

.social-media {
    color: white;
    padding: 0px 10px 0px 10px;
    margin-left: 5px;
    transition: ease-in-out 0.5s;

}

.social-media:hover {
    color: #046DAA;
    transition: ease-in-out 0.5s;
}

.div-typed {
    margin-bottom: 10px;
    margin-right: 5px;
}