#categories {
    background: url("../../vendor/img/categoryBG.jpg");
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 21rem));
    gap: 2rem;
    justify-content: center;
    padding: 10rem;
    height: 100%;
}

.category-title {
    position: relative;
    bottom: -7rem;
    left: 15rem;
    color: red;
    font-size: 2.8rem;
    width: 30rem;
}

.paginate-btn{
    width: 3rem;
    height: 3rem;
}

.paginate{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}