

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 21rem));
    gap: 2rem;
    justify-content: center;
    padding: 10rem;
    background: url("../../vendor/img/library.jpg") center/cover;
}

.cover {
    background: #00000088;
    height: 100vh;
}

.category-title {
    position: relative;
    bottom: -7rem;
    left: 15rem;
    color: red;
    font-size: 2.8rem;
    width: 30rem;
}