/*=========================================
Sidebar Component
==========================================*/

#header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 90rem;
    overflow: hidden;

}

#header .logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-text);
    position: relative;
    left: 82rem;
    font-size: 25px;
    font-family: "Alfa Slab One", cursive;
    text-decoration: none;
    transition: 1s ease-in-out;
}

#header .logo-text:hover {
    color: var(--hover);
    transition: 1s ease-in-out;
}

#header .navbar {
    background-color: var(--bg-navbar);
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#header .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    z-index: 1;

}

#header .nav-menu {
    background-color: var(--bg-navmenu);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 1;

}

#header .nav-menu.active {
    left: 0;
    transition: 350ms;
}

#header .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 0px 0px 8px;
    list-style: none;
    height: 55px;
}

#header .nav-text a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 17px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    transition: 410ms;
}

#header .nav-text a:hover {
    background-color: var(--dropdown-hover);
    transition: ease-in-out 0.2s;
    border-left: 4px solid;
    cursor: pointer;
    color: var(--hover);
}

#header .nav-menu-items {
    width: 100%;
}

#header .navbar-toggle {
    background-color: var(--bg-navbar);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#header span {
    margin-left: 16px;
}

#header .sidebar-link {
    padding: 20px;
    display: flex;
    color: var(--color-text);
}

#header .dropdown {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 0px 0px 8px;
    list-style: none;
    height: 60px;
    margin-left: 30px;
    border-radius: 4px;
    background-color: var(--bg-navbar);
    transition: 410ms;
}

#header .dropdown a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 17px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

#header .dropdown:hover {
    background-color: var(--dropdown-hover);
    transition: ease-in-out 0.2s;
    border-left: 4px solid var(--color-text);
    cursor: pointer;
}

#header .dropdown a:hover {
    color: var(--hover);
}
