#footer {
    height: 30vh;
    background-color: black;
}

#footer .footer-content {
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

#footer .footer-content p {
    color: var(--color-text);
    display: flex;
    padding: 20px;
}

#footer .contact {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    right: 25rem;
    top: 3rem;
    margin: 0;
    padding: 0;
}

#footer .address {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    left: 25rem;
    bottom: 6rem;
    margin: 0;
    padding: 0;
}
