#team .team-content {
    background: url("../../vendor/img/library.jpg") center/cover;
    height: 100vh;
    overflow: hidden;
}

#team .team-content h1 {
    display: flex;
    justify-content: center;
    color: var(--color-text);
    padding-top: 10px;
    font-size: 3rem;
}

#team .team-content p {
    color: var(--color-text);
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 1.5rem;
}

#team .team-cover {
    background: #00000088;
    height: 100vh;
}

#team .divisor {
    background-color: black;
    height: 30vh;
    color: white;
    transform: skewY(-3deg);
    position: relative;
    bottom: 47px;
}

#team .divisor h1{
    padding-top: 50px;
    transform: skewY(3deg);
}

#team .divisor p{
    transform: skewY(3deg);
}